@import "tailwindcss";
.footer-link {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-link:hover {
  color: #1890ff; 
}

.social-icon {
  color: #000;
  transition: color 0.2s ease;
}

.social-icon:hover {
  color: #1877f2;
}
